* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.root {
  width: 100%;
  height: 100%;
}

.headerContainer {
  height: 50px;
  position: fixed;
  top: 0;
  background-color: rgba(42, 42, 42, 0.843);
  width: 100%;
  transition: background-color 0.7s ease-in-out; /* Add transition for background color */
}

.headerContainer.open {
  background-color: black;
}

.rolledStoreContainer {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp 0.7s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menuContainer > ul {
  display: flex;
  color: white;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-weight: 300;
  font-size: 15px;
}

.menuContainer > ul > li:hover {
  cursor: pointer;
  color: #b3b3b3;
}

.appleLogo, .search, .store {
  cursor: pointer;
}

.uploadPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.card > img {
  height: 100px;
  width: 100px;
}

.rolledStoreContainer {
  width: 100%;
  background-color: black;
  height: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.moveMenu {
  display: flex;
  flex-direction: column;
  margin-left: 280px;
}

.moveMenu > .listTitleContainer > ul > li {
  list-style: none;
}
